<!-- page content -->

<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Manage Beacon</h3>
      </div>
    </div>
    <div class="row">
      <div class="clearfix"></div>
      <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="x_panel" style="height:600px;">
          <div class="x_title">
            <h2>Edit Beacon</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content"><br />
            <%= form_for @beacon, :html => { :multipart => true ,:class=>'form-horizontal form-label-left input_mask'} do |f| %>
<!--              <div class="form-group">
                <%#= f.label :select_Door,  class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                <div class="col-md-6 col-sm-9 col-xs-12">
                  <%#= f.select(:door_id, Door.all.collect {|d| [d.name, d.id]}, { :prompt => 'Select' }, { :class => 'form-control', required: true } )%>
                </div>
              </div -->
             
              <div class="form-group">
                <%= f.label :name,  class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                <div class="col-md-6 col-sm-9 col-xs-12">
                  <%= f.text_field :name, autocomplete: "off", class: "form-control", required: true %>
                </div>
              </div>
             
             <div class="form-group">
                <%= f.label :Ieee_Id,  class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                <div class="col-md-6 col-sm-9 col-xs-12">
                  <%= f.text_field :ieee_id, autocomplete: "off", class: "form-control", required: true %>
                </div>
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                  <%= link_to "Cancel", :back, {:class=>"btn btn-primary"} %>
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </div>
            
            <% end %>
          </div>
        </div> 
      </div>    
    </div>
  </div>
</div>


   