
  <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Manage Beacon</h3>
          </div>
        </div>
        <div class="row">
          <div class="clearfix"></div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="height:600px;">
              <div class="x_title">
                <h2>Beacon List </h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content table-responsive">
                
                <table class="table table-striped responsive-utilities jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                      <th class="column-title">Name </th>
                      <th class="column-title">Door Name </th>
                      <th class="column-title">IEEE_id </th>
                      <th class="column-title no-link last"><span class="nobr">Action</span>
                      </th>
                      <th class="bulk-actions" colspan="7">
                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                      </th>
                    </tr>
                  </thead>
                  <% if !@beacons.blank? || !@beacons.nil? %>
                   <% @beacons.each do |be| %>
                    <tbody>
                      <tr class="even pointer">
                        <td class=" "><%= be.name  %></td>
                        <% if be.door.blank? %>
                          <td class=" "></td>
                        <% else %>
                          <td class=" "><%= be.door.name %></td>
                        <% end %>
                        <td class=" "><%= be.ieee_id %></td>
                        
                        <td class=" last">
                        <%= link_to '<i class="fa fa-info-circle"></i>'.html_safe, be,  style: "margin-right: 10px;" %>
                        <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_beacon_path(be),  style: "margin-right: 10px;" %>
                        </td>
                      </tr>
                    </tbody>
                   <% end %>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /page content -->
  

  

  

