<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Manage Beacon</h3>
      </div>
    </div>
    <div class="row">
    	<div class="clearfix"></div>
      <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Beacon Details</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content"><br />
          	<div class="form-group">
          		<div class="control-label col-md-3 col-sm-3 col-xs-12">
             <%= label_tag :Name %>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <%= @beacon.name %>
            </div>
           </div>
         </div>
         <div class="x_content"><br />
         <div class="form-group">
          	<div class="control-label col-md-3 col-sm-3 col-xs-12">
             <%= label_tag :Door_name %>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <%= @beacon.door.name %>
            </div>
         </div>
         </div>
         <div class="x_content"><br />
         <div class="form-group">
	          <div class="control-label col-md-3 col-sm-3 col-xs-12">
	            <%= label_tag :Ieee_id %>
	          </div>
           	<div class="col-md-9 col-sm-9 col-xs-12">
                <%= @beacon.ieee_id %>
            </div>
         </div>
				 </div>

				</div>
      </div>    
    </div>
  </div>
</div>


   