<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Admin</h3>
      </div>
    </div>
    <div class="row">
      <div class="clearfix"></div>
      <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="x_panel" style="height:600px;">
          <div class="x_title">
            <h2>Edit Profile</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content"><br />
            <%= form_for @admin, :html => { :multipart => true ,:class=>'form-horizontal form-label-left input_mask' } do |f| %>
              <div class="form-group">
                <%= f.label :first_name, class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                <div class="col-md-6 col-sm-9 col-xs-12">
                  <%= f.text_field :first_name, class: "form-control", required: true %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :last_name, class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                <div class="col-md-6 col-sm-9 col-xs-12">
                  <%= f.text_field :last_name, class: "form-control", required: true %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :email, class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                <div class="col-md-6 col-sm-9 col-xs-12">
                  <%= f.text_field :email, class: "form-control", required: true %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :Password, f.object.new_record? ? nil : "Change password",  class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                <div class="col-md-6 col-sm-9 col-xs-12">
                  <%= f.password_field :password, class: "form-control", minlength: 6, :id => "password" %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :Confirm_Password, class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                <div class="col-md-6 col-sm-9 col-xs-12">
                  <%= f.password_field :confirm_password, autocomplete: "off", class: "form-control", :id => "confirm_password" %>
                </div>
              </div>
              <div class="form-group">
              <%= f.label :Photo,  class: "control-label col-md-3 col-sm-3 col-xs-12" %>
              <% if !@admin.photo.url.blank? %>
                <div class="col-md-6 col-sm-9 col-xs-12"  style="width: 120px;height: auto;">
                 <%= image_tag request.base_url + @admin.photo.url, style: "width: 100%;" %>
              </div>
              <% end %>
                <%= f.file_field :photo, accept: ".png, .jpg, .jpeg, .gif" %>              
              </div>
              
              
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-9 col-xs-12 col-md-offset-3">
                  <%= link_to "Cancel", root_path, {:class=>"btn btn-primary"} %>
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </div>

            <% end %>
          </div>
        </div> 
      </div>    
    </div>
  </div>
</div>


   <script type="text/javascript">
  var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if (password.value != ""){
    if(password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
      confirm_password.setCustomValidity('');
    }
  } else {
     confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>