
  <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>User Devices</h3>
          </div>
        </div>
        <div class="row">
          <div class="clearfix"></div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="height:600px;">
              <div class="x_title">
                <h2>Device List </h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content table-responsive">
               
                <table class="table table-striped responsive-utilities jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                      <th class="column-title">Name </th>
                      <th class="column-title">Device Type </th>
                      <th class="column-title">User </th>
                      <th class="column-title">Device Token </th>
                      
                     
                    </tr>
                  </thead>
                 <%  @user_devices.each do |u| %>
                  <tbody>
                    <tr class="even pointer">
                      <td class=" "><%= u.name  %></td>
                      <td class=" "><%= u.device_type %></td>
                      <td class=" "><%= u.user.first_name + " " + u.user.last_name %></td>
                      <td class=" "><%= u.device_token %></td>
              
                    </tr>
                  </tbody>
                 <% end %>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /page content -->
  

  

  

