
<div class="main_container">

  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">

      <div class="navbar nav_title" style="border: 0;background: #F5F5F5;">
        <a href="<%= root_path %>" class="site_title cus_logo"><%= image_tag "logo.png"%></a>
      </div>
      <div class="clearfix"></div>


      <!-- menu profile quick info -->
      <div class="profile">
        <div class="profile_pic">
        
          <%= image_tag request.base_url + current_admin.photo.url, :class => "img-circle profile_img"  %>
        </div>
        <div class="profile_info">
          <span>Welcome,</span>
          <h2><%= current_admin.first_name.titleize %></h2>
        </div>
      </div>
      <!-- /menu profile quick info -->

      <br />

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" style="margin-top: 100px;">

        <div class="menu_section">
          
          <ul class="nav side-menu">
            <li><a href="<%= root_path %>"><i class="fa fa-home"></i> Home</a>
             
            </li>
            <li><a href="<%= users_url %>"><i class="fa fa-user"></i> Users </a>
              
            </li>
            <li><a href="<%= user_devices_url %>"><i class="fa fa-mobile"></i> User Devices </a>
              
            </li>
            <li><a href="<%= beacons_url %>"><i class="fa fa-bullseye"></i> Beacons </a>
              
            </li>
            <li><a href="<%= histories_url %>"><i class="fa fa-history" ></i> History </span></a>
             
            </li><% @timer = RssiTimer.find(1) %>
            <li><a href="<%= edit_setting_path(@timer) %>"><i class=" fa fa-cog" ></i> Setting </span></a>
             
            </li>
          </ul>
        </div>
  
      </div>
      <!-- /sidebar menu -->

      <!-- /menu footer buttons -->
      
      <!-- /menu footer buttons -->
    </div>
  </div>
