
  <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Manage User</h3>
          </div>
        </div>
        <div class="row">
          <div class="clearfix"></div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="height:600px;">
              <div class="x_title">
                <h2>User List </h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content table-responsive">
                <a href="<%= new_user_path %>" class="btn btn-info btn-sm pull-right" style="font-size: 15px;">Add User</a>
                <table class="table table-striped responsive-utilities jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                      <th class="column-title">First Name </th>
                      <th class="column-title">Last Name </th>
                      <th class="column-title">Email </th>
                      <th class="column-title">Mobile No. </th>
                      <th class="column-title">Is Active </th>
                      <th class="column-title no-link last"><span class="nobr">Action</span>
                      </th>
                      <th class="bulk-actions" colspan="7">
                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                      </th>
                    </tr>
                  </thead>
                 <% @users.each do |user| %>
                  <tbody>
                    <tr class="even pointer">
                      <td class=" "><%= user.first_name  %></td>
                      <td class=" "><%= user.last_name %></td>
                      <td class=" "><%= user.email %></td>
                      <td class=" "><%= user.mo_no %></td>
                      <td class=" "><%= user.is_active.to_s %></td>
                      
                      <td class=" last">
                      <%= link_to '<i class="fa fa-info-circle"></i>'.html_safe, user,  style: "margin-right: 10px;" %>
                      <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_user_path(user),  style: "margin-right: 10px;" %>
                      <%= link_to '<i class="fa fa-remove"></i>'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </td>
                    </tr>
                  </tbody>
                 <% end %>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /page content -->
  

  

  

