<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Manage User</h3>
      </div>
    </div>

    <div class="row">
    	<div class="clearfix"></div>
      <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Add User</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content"><br />
            <%= form_for @user, :html => { :multipart => true ,:class=>'form-horizontal form-label-left input_mask'} do |f| %>
              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <%= f.text_field :first_name, autofocus: true, class: "form-control has-feedback-left", placeholder: "First Name", required: true%>
                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: "Last Name", required: true%>
                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <%= f.email_field :email, autofocus: true, class: "form-control has-feedback-left", placeholder: "Email", required: true %>
                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <%= f.text_field :mo_no, autofocus: true, class: "form-control", placeholder: "Phone" %>
                <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
              </div>
              <div class="form-group">
                <%= f.label :Password,  class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <%= f.password_field :password, autocomplete: "off", class: "form-control",:id => "password", minlength: 6, required: true %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :Confirm_Password,  class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <%#= f.password_field :confirm_password, autocomplete: "off", class: "form-control",:onkeyup => 'check();',:id => "confirm_password", required: true %>
                  <%= f.password_field :confirm_password, autocomplete: "off", class: "form-control",:id => "confirm_password", required: true %>
                  <span id='message'></span>
                </div>
              </div>
              <div class="form-group">
              <%= f.label :Photo,  class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                <%= f.file_field :photo %>              </div>
              <div class="form-group">
                <%= f.label :Is_Active,  class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <div class="checkbox">
                    <label>
                    <%= f.check_box :is_active %>
                    </label>
                  </div>  
                </div>
              </div>
              <div class="form-group">
              <%= f.label :Access_Permission,  class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <div class="checkbox">
                    <label>
                      <%= f.check_box :access_permission %>
                      
                    </label>
                  </div>    
                </div>
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                  <%= link_to "Cancel", :back, {:class=>"btn btn-primary"} %>
                  <button type="submit" class="btn btn-success" id = "submit">Submit</button>
                </div>
              </div>
            
            <% end %>
          </div>
        </div> 
      </div>    
    </div>
  </div>
</div>


   <script type="text/javascript">
//      var check = function() {
//   if (document.getElementById('password').value ==
//     document.getElementById('confirm_password').value) {
//     document.getElementById('message').style.color = 'green';
//     document.getElementById('message').innerHTML = 'Password Matched';
//     document.getElementById('submit').disabled = false;
//   } else {
//     document.getElementById('message').style.color = 'red';
//     document.getElementById('message').innerHTML = 'Password and Confirm Password not match';
//      document.getElementById('submit').disabled = true;
//   }
// }
var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
   </script>