<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Manage User</h3>
      </div>
    </div>
    <div class="row">
    	<div class="clearfix"></div>
      <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>User Details</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content"><br />
          	<div class="form-group">
          		<div class="control-label col-md-3 col-sm-3 col-xs-12">
             <%= label_tag :first_name %>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <%= @user.first_name %>
            </div>
           </div>
         </div>
         <div class="x_content"><br />
         <div class="form-group">
          	<div class="control-label col-md-3 col-sm-3 col-xs-12">
             <%= label_tag :last_name %>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <%= @user.last_name %>
            </div>
         </div>
         </div>
         <div class="x_content"><br />
         <div class="form-group">
	          <div class="control-label col-md-3 col-sm-3 col-xs-12">
	            <%= label_tag :email %>
	          </div>
           	<div class="col-md-9 col-sm-9 col-xs-12">
                <%= @user.email %>
            </div>
         </div>
				 </div>
				 <div class="x_content"><br />
         <div class="form-group">
	          <div class="control-label col-md-3 col-sm-3 col-xs-12">
	            <%= label_tag :mo_no %>
	          </div>
           	<div class="col-md-9 col-sm-9 col-xs-12">
                <%= @user.mo_no %>
            </div>
         </div>
				 </div>
				 <div class="x_content"><br />
         <div class="form-group">
	          <div class="control-label col-md-3 col-sm-3 col-xs-12">
	            <%= label_tag :is_active %>
	          </div>
           	<div class="col-md-9 col-sm-9 col-xs-12">
                <%= @user.is_active %>
            </div>
         </div>
				 </div>
				 <div class="x_content"><br />
         <div class="form-group">
	          <div class="control-label col-md-3 col-sm-3 col-xs-12">
	            <%= label_tag :access_permission %>
	          </div>
           	<div class="col-md-9 col-sm-9 col-xs-12">
                <%= @user.access_permission %>
            </div>
         </div>
				 </div>
				 <div class="x_content"><br />
         <div class="form-group">
	          <div class="control-label col-md-3 col-sm-3 col-xs-12">
	            <%= label_tag :Photo %>
	          </div>
           	<div class="col-md-9 col-sm-9 col-xs-12"  style="width: 120px;height: auto;">
               <%= image_tag request.base_url + @user.photo.url, style: "width: 100%;" %>
            </div>
         </div>
				 </div>
          <div class="x_content"><br />
         <div class="form-group">
            <div class="control-label col-md-3 col-sm-3 col-xs-12">
              <%= label_tag :User_devices %>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12"  style="width: 120px;height: auto;">
               <% @user.user_devices.each do |d| %>
               <%= d.name %><br/>
               <% end %>
            </div>
         </div>
         </div>

				</div>
      </div>    
    </div>
  </div>
</div>


   