
  <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>All History</h3>
          </div>
          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
              <%#= form_for search_histories_path do |f| %>
                <input type="text" class="form-control" placeholder="enter user email.." id = "email">
                    <span class="input-group-btn">

                      <button class="btn btn-default" type="button" id = "search">Go!</button>
                    </span>
                <%# end %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="clearfix"></div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="height:600px;">
              <div class="x_title">
                <h2>History </h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content table-responsive">
               
                <table class="table table-striped responsive-utilities jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                      <th class="column-title">Entry Time </th>
                      <th class="column-title">Exit Time </th>
                      <th class="column-title">User Device Name </th>
                      <th class="column-title">User Name </th>   
                      <th class="column-title no-link last"><span class="nobr">Action</span> </th>                  
                    </tr>
                  </thead>
                  <% if !@histories.blank? %>
                   <% @histories.each do |h| %>
                    <tbody>
                      <tr class="even pointer">
                        <td class=" "><%= h.entry_time.to_s.sub('UTC' , '') %></td>
                        <td class=" "><%= h.exit_time.to_s.sub('UTC' , '') %></td>
                        <td class=" "><%= h.user_device.name %></td>
                        <td class=" "><%= h.user.first_name.titleize + ' ' + h.user.last_name.titleize  %></td>
                        <td class=" last">
                        <%= link_to '<i class="fa fa-info-circle"></i>'.html_safe, h,  style: "margin-right: 10px;" %> </td>
                      </tr>
                    </tbody>
                   <% end %>
                  <% end %>
                </table>
                <div>
                <%= will_paginate @historie %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /page content -->
  

  

  <script type="text/javascript">
    $('#search').click(function() {
       // $.ajax({
       //  url: "<%= search_histories_path %>",
       //  type: "GET",
       //  data: {"email" : $('#email').val()},
       //  headers: {
       //    'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
       //  },
       //  dataType: "html",
       //  success: function(data) {
          window.location.href = "/histories/search?email="+ $('#email').val()
          
      //   }
      // });
    });
</script>

