<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>All History</h3>
      </div>
    </div>
    <div class="row">
    	<div class="clearfix"></div>
      <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>History Information</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <!-- <div class="x_content"><br />
          	<div class="form-group">
          		<div class="control-label col-md-3 col-sm-3 col-xs-12">
             <%#= label_tag :Entry_Time %>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <%= @history.entry_time %>
            </div>
           </div>
         </div>
         <div class="x_content"><br />
         <div class="form-group">
          	<div class="control-label col-md-3 col-sm-3 col-xs-12">
             <%#= label_tag :Exit_Time %>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <%= @history.exit_time %>
            </div>
         </div>
         </div>
         <div class="x_content"><br />
         <div class="form-group">
	          <div class="control-label col-md-3 col-sm-3 col-xs-12">
	            <%#= label_tag :User_Device_Name %>
	          </div>
           	<div class="col-md-9 col-sm-9 col-xs-12">
                <%=@history.user_device.name %>
            </div>
         </div>
				 </div> -->
         <div class="x_content"><br />
         <div class="form-group">
            <div class="control-label col-md-3 col-sm-3 col-xs-12">
             <%= label_tag :history_logs %>
            </div>
         </div>
         </div>
          <div class="x_content table-responsive">
               
                <table class="table table-striped responsive-utilities jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                      <th class="column-title">Log Time </th>
                      <th class="column-title">Log Type </th>
                      <th class="column-title">Log Description </th>   
                                     
                    </tr>
                  </thead>
                  <% if !@history.history_logs.blank? %>
                   <% @history.history_logs.each do |lh| %>
                    <tbody>
                      <tr class="even pointer">
                        <td class=" "><%= lh.log_time.to_s.sub('UTC' , '') %></td>
                        <td class=" "><%= lh.log_type %></td>
                        <td class=" "><%= lh.log_description %></td>
                                              
                      </tr>
                    </tbody>
                   <% end %>
                  <% end %>
                </table>   
              </div>
				</div>
      </div>    
    </div>
  </div>
</div>


   