
<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "GentelellaOnRails" %> </title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body style="background:#F7F7F7;">

  <div class="">
    
    <div id="wrapper">
      <div id="login" class="animate form">
       <center><%= image_tag "logo.png", style: "width: 65px; margin-left: 8px;"%></center>
       
        <section class="login_content">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <h1>Admin Login</h1>
             <div >
              <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Username" %>
            </div>
            <div>
            
              <%= f.password_field :password, autocomplete: "off",class: "form-control",placeholder: "Password"  %>
            </div>
            <div>
              <%= f.submit "Log in", class: "btn btn-default submit", style: "margin-left: 0px;" %><br /><% flash.each do |key, value| %>
     <h2 style="color: red;font-size: 17px;"> <%= value %> </h2>
  <% end %>
            </div>
            <div class="clearfix"></div>
            <div class="separator">

              
              <div class="clearfix"></div>
                            <div>
                

                <p>©2017 All Rights Reserved. Indoor Positioning is a Bootstraptemplate. Privacy and Terms</p>
              </div>
            </div>
          <% end %>
          <!-- form -->
        </section>
        <!-- content -->
      </div>
      
    </div>
  </div>

</body>

</html>
