 <div class="container body">
  <div class="main_container">
    <!-- page content -->
    <div class="right_col" role="main">

        <!-- top tiles -->
        <div class="row tile_count">
          <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
              <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
              <div class="count"><%= User.all.count %></div>
              <span class="count_bottom"><i class="green"></i></span>
            </div>
          </div>
          <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
              <span class="count_top"><i class="fa fa-mobile"></i> Total User Devices</span>
              <div class="count green"><%= UserDevice.all.count %></div>
              <span class="count_bottom"><i class="green"><i></i></i> </span>
            </div>
          </div>
          <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
              <span class="count_top"><i class="fa fa-bullseye"></i> Total Beacons</span>
              <div class="count"><%= Beacon.all.count %></div>
              <span class="count_bottom"><i class="green"><i></i> </i> </span>
            </div>
          </div>
         

        </div>
        <!-- /top tiles -->

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">

              <div class="row x_title">
                <div class="col-md-6">
                  <h3>Network Activities <small>Graph title sub-title</small></h3>
                </div>
                
              </div>

              <div class="col-md-9 col-sm-9 col-xs-12">
                <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
                <div style="width: 100%;">
                  <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:270px;"></div>
                </div>
              </div>
              

              <div class="clearfix"></div>
            </div>
          </div>

        </div>
        <br />

        <div class="row">


          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320">
              <div class="x_title">
                <h2>Users </h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <h4>User Created in months</h4>
                <div class="widget_summary">
                  <div class="w_left w_25">
                    <span><span><%= (Date.today- 1.months).strftime("%B") %></span>
                  </div>
                  <div class="w_center w_55">
                    <div class="progress">
                      <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= User.where('created_at > ?', Date.today.beginning_of_month - 1.months).count%>%;">
                        <span class="sr-only">60% Complete</span>
                      </div>
                    </div>
                  </div>
                  <div class="w_right w_20">
                    <span><%= User.where('created_at > ?', Date.today.beginning_of_month - 1.months).count%></span>
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="widget_summary">
                  <div class="w_left w_25">
                    <span><%= (Date.today- 2.months).strftime("%B") %></span>
                  </div>
                  <div class="w_center w_55">
                    <div class="progress">
                      <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= User.where('created_at > ? and created_at < ?', Date.today.beginning_of_month - 2.months, Date.today.beginning_of_month - 1.months).count%>%;">
                        <span class="sr-only">60% Complete</span>
                      </div>
                    </div>
                  </div>
                  <div class="w_right w_20">
                    <span><%= User.where('created_at > ? and created_at < ?', Date.today.beginning_of_month - 2.months, Date.today.beginning_of_month - 1.months).count%></span>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="widget_summary">
                  <div class="w_left w_25">
                    <span><span><%= (Date.today- 3.months).strftime("%B") %></span>
                  </div>
                  <div class="w_center w_55">
                    <div class="progress">
                      <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= User.where('created_at > ? and created_at < ?', Date.today.beginning_of_month - 3.months, Date.today.beginning_of_month - 2.months).count%>%;">
                        <span class="sr-only">60% Complete</span>
                      </div>
                    </div>
                  </div>
                  <div class="w_right w_20">
                    <span><%= User.where('created_at > ? and created_at < ?', Date.today.beginning_of_month - 3.months, Date.today.beginning_of_month - 2.months).count%></span>
                  </div>
                  <div class="clearfix"></div>
                </div>
                
                
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320 overflow_hidden">
              <div class="x_title">
                <h2>Device Usage</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <table class="" style="width:100%">
                  <tr>
                    <th style="width:37%;">
                      <p>Top 5</p>
                    </th>
                    <th>
                      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <p class="">Device</p>
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <p class="">Progress</p>
                      </div>
                    </th>
                  </tr>
                  <tr>
                    <td>
                      <canvas id="canvas1" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                    </td>
                    <td>
                     <% @tot = UserDevice.all.count
          @ios = UserDevice.where(device_type: "ios").count
          if @ios == 0
            @per_ios = 0
          else
            @per_ios = (@ios * 100) / @tot
          end
          @per_android = 100 - @per_ios %>
                      <table class="tile_info">
                        <tr>
                          <td>
                            <p><i class="fa fa-square blue"></i>IOS </p>
                          </td>
                          <td><%= @per_ios %>%</td>
                        </tr>
                        <tr>
                          <td>
                            <p><i class="fa fa-square green"></i>Android </p>
                          </td>
                          <td><%= @per_android %>%</td>
                        </tr>
                        
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>


          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320">
              <div class="x_title">
                <h2>Quick Settings</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="dashboard-widget-content">
                  <ul class="quick-list">
                    <li><i class="fa fa-user"></i><a href="<%= users_url %>">Users</a>
                    </li>
                    <li><i class="fa fa-mobile"></i><a href="<%= user_devices_url %>">User Devices</a>
                    </li>
                    <li><i class="fa fa-bullseye"></i><a href="<%= beacons_url %>">Beacons</a> </li>
                    <li><i class="fa fa-history"></i><a href="<%= histories_url %>">History</a>
                    </li>
                    
                    <li><%= link_to '<i class="fa fa-sign-out"></i> Logout'.html_safe, destroy_admin_session_path, method: :delete %>
                    </li>
                  </ul>

                  
                </div>
              </div>
            </div>
          </div>

        </div>  
      </div>
      <!-- /page content -->

      
    </div>
  </div>


  

  <script>
    $(document).ready(function() {
      // [17, 74, 6, 39, 20, 85, 7]
      //[82, 23, 66, 9, 99, 6, 2]


      // var data1 = [
      //   [gd(2012, 1, 1), 17],
      //   [gd(2012, 1, 2), 74],
      //   [gd(2012, 1, 3), 6],
      //   [gd(2012, 1, 4), 39],
      //   [gd(2012, 1, 5), 20],
      //   [gd(2012, 1, 6), 85],
      //   [gd(2012, 1, 7), 7]
      // ];

      var data1 = [
        [gd(<%= Time.now.strftime("%Y") %>, <%= Time.now.strftime("%-m") %>, <%= Time.now.strftime("%e") %>), <%= History.where(:created_at => (Date.today.beginning_of_day)..(Date.today.end_of_day)).count %>],
        [gd(<%=(Time.now-1.days).strftime("%Y") %>, <%=(Time.now-1.days).strftime("%-m") %>, <%=(Time.now-1.days).strftime("%e") %>), <%= History.where(:created_at => (Date.today.beginning_of_day - 1.days)..(Date.today.end_of_day - 1.days)).count %>],
        [gd(<%=(Time.now-2.days).strftime("%Y") %>, <%= (Time.now-2.days).strftime("%-m") %>, <%=(Time.now-2.days).strftime("%e") %>), <%= History.where(:created_at => (Date.today.beginning_of_day - 2.days)..(Date.today.end_of_day - 2.days)).count %>],
        [gd(<%=(Time.now-3.days).strftime("%Y") %>, <%= (Time.now-3.days).strftime("%-m") %>, <%=(Time.now-3.days).strftime("%e") %>), <%= History.where(:created_at => (Date.today.beginning_of_day - 3.days)..(Date.today.end_of_day - 3.days)).count %>],
        [gd(<%=(Time.now-4.days).strftime("%Y") %>, <%=(Time.now-4.days).strftime("%-m") %>, <%=(Time.now-4.days).strftime("%e") %>), <%= History.where(:created_at => (Date.today.beginning_of_day - 4.days)..(Date.today.end_of_day - 4.days)).count %>],
        [gd(<%=(Time.now-5.days).strftime("%Y") %>, <%=(Time.now-5.days).strftime("%-m") %>, <%=(Time.now-5.days).strftime("%e") %>), <%= History.where(:created_at => (Date.today.beginning_of_day - 5.days)..(Date.today.end_of_day - 5.days)).count %>],
        [gd(<%=(Time.now-6.days).strftime("%Y") %>, <%=(Time.now-6.days).strftime("%-m") %>, <%=(Time.now-6.days).strftime("%e") %>), <%= History.where(:created_at => (Date.today.beginning_of_day - 6.days)..(Date.today.end_of_day - 6.days)).count %>]
      ];
      $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
        data1
      ], {
        series: {
          lines: {
            show: false,
            fill: true
          },
          splines: {
            show: true,
            tension: 0.4,
            lineWidth: 1,
            fill: 0.4
          },
          points: {
            radius: 0,
            show: true
          },
          shadowSize: 2
        },
        grid: {
          verticalLines: true,
          hoverable: true,
          clickable: true,
          tickColor: "#d5d5d5",
          borderWidth: 1,
          color: '#fff'
        },
        colors: ["rgba(38, 185, 154, 0.38)"],
        xaxis: {
          tickColor: "rgba(51, 51, 51, 0.06)",
          mode: "time",
          tickSize: [1, "day"],
          //tickLength: 10,
          axisLabel: "Date",
          axisLabelUseCanvas: true,
          axisLabelFontSizePixels: 12,
          axisLabelFontFamily: 'Verdana, Arial',
          axisLabelPadding: 10
            //mode: "time", timeformat: "%m/%d/%y", minTickSize: [1, "day"]
        },
        yaxis: {
          ticks: 8,
          tickColor: "rgba(51, 51, 51, 0.06)",
          
        },
        tooltip: false
      });

      function gd(year, month, day) {
        return new Date(year, month - 1 , day).getTime();
      }
    });
  </script>

  
  
  

  <!-- Doughnut Chart -->
  <script>
    $('document').ready(function() {
      var options = {
        legend: false,
        responsive: false
      };

      new Chart(document.getElementById("canvas1"), {
        type: 'doughnut',
        tooltipFillColor: "rgba(51, 51, 51, 0.55)",
        data: {
          labels: [
            "Android",
            "IOS"
          ],
          <% @tot = UserDevice.all.count
          @ios = UserDevice.where(device_type: "ios").count
         if @ios == 0
            @per_ios = 0
          else
            @per_ios = (@ios * 100) / @tot
          end
          @per_android = 100 - @per_ios %>
          datasets: [{
            data: [<%= @per_android %>, <%= @per_ios %>],
            backgroundColor: [
              "#26B99A",
              "#3498DB"
            ],
            hoverBackgroundColor: [
              "#36CAAB",
              "#49A9EA"
            ]
          }]
        },
        options: options
      });
    });
  </script>
  <!-- /Doughnut Chart -->
  
  
  <!-- /footer content -->